.container {
    width: 200px;
    height: 20;
    background-color: aquamarine;
}

.bar {
    transition: all 0.2s;
}

._50 {
    background-color: lightcoral;
    width: 50%;

}

._75 {
    background-color: orange;
    width: 75%;

}

._100 {
    background-color: green;
    width: 100%;

}