.video-container {
    padding-left: 100px;
    display: flex;
}

.video-wrapper {
    flex: 1;
    margin-right: 10px;
}

.video {
    width: 600px;
    height: 600px;
}

.video-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.video-button:hover {
    background-color: #ccc;
}

.video-button:focus {
    outline: none;
}